/* for all */
*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* inside header */
 .head-container{
      
      /* width: 2000px; */
        height: 80vh;
        background: url('./images/banner/banner1.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        /* align-items: center; */

     
    
    
     }
     .headerh1{
        color: #151414;

font-size: 65px;

font-weight: 700;
text-align: right;
padding-right: 230px;
padding-top: 215px;

     }
     .headerp1{
        color: var(--dark-02, #444343);
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: right;
padding-right: 230px;
padding-top: 24px;

     }
     .headerbtn{
     margin-left: 1560px;
     margin-right: 230px;
     padding: 20px 25px;
     border: 0px solid ;
     border-radius: 5px;
background: #F15B22;
color: aliceblue;
     }
/* .banner-image{
   
} */